Gerrit + CAS + LDAP: redirects to CAS root after authorized

Hi,

We're hitting a problem while setting up Gerrit -> gerrit-oauth-provider -> CAS -> OpenLDAP.
All the above services share a same IP address **ROOT**.

**Steps:**

1. Click "Sign in" on Gerrit http://**ROOT**:9999
2. See the browser is loading http://**ROOT**:9999/login/%2Fq%2Fstatus%3Aopen
3. See we're redirected to site: http://**ROOT**:8888/login?service=http%3A%2F%2F**ROOT**%3A8888%2Foauth2.0%2FcallbackAuthorize%3Fclient_id%3Dgerrit%26redirect_uri%3Dhttp%253A%252F%252F**ROOT**%253A9999%252Foauth%26response_type%3Dcode%26client_name%3DCasOAuthClient
4. Input username and password of a user in OpenLDAP: gerrit/passwd
5. Click "LOGIN"

**What we expect:**

Authorized and redirected to Gerrit http://**ROOT**:9999 with the user logged in

**What we see:**

Authorized but redirected to http://**ROOT**:8888/login

**CAS configs:**

[cas.properties](https://github.com/davido/gerrit-oauth-provider/files/2110595/cas.properties.txt)
[ci-10000000.json](https://github.com/davido/gerrit-oauth-provider/files/2110598/ci-10000000.json.txt)
[gerrit-10000001.json](https://github.com/davido/gerrit-oauth-provider/files/2110599/gerrit-10000001.json.txt)

**Gerrit configs:**

[gerrit.config](https://github.com/davido/gerrit-oauth-provider/files/2110605/gerrit.config.txt)

**CAS and Gerrit logs:**
[cas.log](https://github.com/davido/gerrit-oauth-provider/files/2110542/cas.log)
[gerrit.log](https://github.com/davido/gerrit-oauth-provider/files/2110543/gerrit.log)

Note: I've replaced the server IP with ROOT, my company name with MY_COMPANY, and other sensitive information (e.g secret) with xxx.

//CC @mwebber.

I'm not familiar with the CAS setting side of this, but this part of `cas.properties`:
`cas.server.name=http://ROOT
cas.server.prefix=http://ROOT:8888
as.server.httpProxy.redirectPort=8888
cas.server.httpProxy.proxyPort=8888`
confuses me. It looks like 8888 is both the port that CAS listens on, but is also the proxy port.



Thank you davido for forwarding.
Thank you mwebber for looking.

The cas.httpProxy.* was some legacy configuration when I tried to set up CAS behind a proxy. But that ended up with various problems so we now skip the proxy, and they're not needed any more.

I removed those proxy lines, and things seem better. But I'm still getting some kind of error.

I'm not redirected to:
http://ROOT:9999/oauth?code=OC-1-tVe6K8Z6A-nr2-KCWs-Cv9NdjyeMPLXp&state=fS8rKlWqXcVv_FGAJ7UUsd7Iicu8GcG9T4H_eiciQ9M. And there's nothing but a plain text "Not Found".

And in gerrit logs, there's a line:
`[2018-06-21 17:17:08,317] [HTTP-81] ERROR com.google.gerrit.httpd.auth.oauth.OAuthSession : Illegal request state 'fS8rKlWqXcVv_FGAJ7UUsd7Iicu8GcG9T4H_eiciQ9M' on OAuthProtocol OAuthSession [token=null, user=null]`

Any hint to investigate?

Thanks again!

I have get the same error as above, after authenticated by cas oauth2.0 and redirect to gerrit.
the detail error log is :
 ERROR com.google.gerrit.httpd.auth.oauth.OAuthSession : Illegal request state '-qPk9s3Z_YHr7K11m792_-eVlifyJ51tXhFE3EUCBfc' on OAuthProtocol OAuthSession [token=null, user=null]


Well, someone would have to debug that. I don't have the access to CAS server, so I can't help, probably.

Actually my bad, I probably should ask a separate question? The error seems the same but I am not using CAS server, I am using cfauth plugin.

OK, you are using https://gerrit-review.googlesource.com/admin/repos/plugins/cfoauth plugin and CloudFoundry provider. So the same problem: state doesn't match or absent. You would have to ivestigate why this is the case.


Oauth **state** is there to protect the end user from cross site request forgery(CSRF) attacks.

[RFC6749](https://tools.ietf.org/html/rfc6749#section-10.12) states that:

```
Once authorization has been obtained from the end-user, the authorization server redirects the end-user's user-agent back to the client with the required binding value contained in the "state" parameter. The binding value enables the client to verify the validity of the request by matching the binding value to the user-agent's authenticated state (e.g., a hash of the session
   cookie used to authenticate the user-agent).
```

What happens, is that Gerrit generates that salt in OAuthSession constructor: https://github.com/GerritCodeReview/gerrit/blob/master/java/com/google/gerrit/httpd/auth/oauth/OAuthSession.java#L77:

```
this.state = generateRandomState();
```
send state to the OAuth Server provider and redirected request should contain exactly the same state that was sent by Gerrit. In your case that state is absent or doesn't match.

Yes, but now I am actually looking at both URLs and I see that both of them have the same state...

For example:
https://uaa-server.anyhost:12345/uaa-security/oauth/authorize?response_type=code&client_id=sb-gerrit&redirect_uri=https://gerrit.anyhost/oauth&state=rz67ixB3dzwjtMNGArtP04oEBodP35ToZ13pPogki_8

And redirect to Gerrit:
https://gerrit.anyhost:32145/oauth?code=Z710wDJmLj&state=rz67ixB3dzwjtMNGArtP04oEBodP35ToZ13pPogki_8

And I know that login was successful because I can open another application that also uses the same uaa-server.

Fine, what version of gerrit are you using? I could instrument for you that code:

```
private boolean checkState(ServletRequest request) {
    String s = Strings.nullToEmpty(request.getParameter("state"));
    if (!s.equals(state)) {
      logger.atSevere().log("Illegal request state '%s' on OAuthProtocol %s", s, this);
      return false;
    }
    return true;
  }
```

Can you replace your gerrit with custom build one?

I am using version 2.11.4-170-g1913624. To replace it would be quite hard. Maybe I can temporarily change the class in my gitter war file?

I added this diff on stable-2.11 branch (that is pretty outdated gerrit version, you know, right?)

```diff
diff --git a/gerrit-oauth/src/main/java/com/google/gerrit/httpd/auth/oauth/OAuthSession.java b/gerrit-oauth/src/main/java/com/google/gerrit/httpd/auth/oauth/OAuthSession.java
index d24c8a0017..54cc9782f2 100644
--- a/gerrit-oauth/src/main/java/com/google/gerrit/httpd/auth/oauth/OAuthSession.java
+++ b/gerrit-oauth/src/main/java/com/google/gerrit/httpd/auth/oauth/OAuthSession.java
@@ -219,6 +219,8 @@ class OAuthSession {
 
   private boolean checkState(ServletRequest request) {
     String s = Strings.nullToEmpty(request.getParameter("state"));
+    log.debug("Request state: " + s);
+    log.debug("Session state: " + state);
     if (!s.equals(state)) {
       log.error("Illegal request state '" + s + "' on OAuthProtocol " + this);
       return false;
```

Can you compile yourself or should I compile it for your?

You should also add debug category for this logger: `com.google.gerrit.httpd.auth.oauth`.

Yes, I know, but this is the version that SAP currently is using. Maybe you can compile that class and send it to me? I would be very grateful. Also where is the file that I need to add that logger line?

I've build the whole gerrit.war that you can find here: [1]. Either use this JAR, or pick up the com.google.gerrit.httpd.auth.oauth.OAuthSession.class from `WEB-INF/lib/gerrit-oauth-oauth.jar`.

To configure the logger, follow the documentation:

[[container.javaOptions]]container.javaOptions::
+
Additional options to pass along to the Java runtime.  If multiple
values are configured, they are passed in order on the command line,
separated by spaces.  These options are appended onto 'JAVA_OPTIONS'.

For example, it is possible to overwrite Gerrit's default log4j
configuration:

```
  javaOptions = -Dlog4j.configuration=file:///home/gerrit/site/etc/log4j.properties
```

As example of working log4j.properties you coud take the one from gerrit distribution: [1].

[1] http://paste.openstack.org/show/730051/

[1] https://github.com/davido/gerrit-v2.11.11-1-g17c135c26d/releases/tag/gerrit-v2.11.11-1-g17c135c26d

I have managed to do what you said, but the logger shows less information than before and com.google.gerrit.httpd.auth is not visible:

> [2018-09-14 03:42:08,569] INFO  com.google.gerrit.server.plugins.PluginLoader : Unloading plugin singleusergroup
> [2018-09-14 03:42:08,855] INFO  com.google.gerrit.server.plugins.PluginLoader : Cleaned plugin plugin_replication_180914_0327_4762851046903709444.jar
> [2018-09-14 03:42:08,856] INFO  com.google.gerrit.server.plugins.PluginLoader : Cleaned plugin plugin_gitiles_180914_0327_525039761803932588.jar
> [2018-09-14 03:42:08,856] INFO  com.google.gerrit.server.plugins.PluginLoader : Cleaned plugin plugin_reviewnotes_180914_0327_4376288460280196506.jar
> [2018-09-14 03:42:08,857] INFO  com.google.gerrit.server.plugins.PluginLoader : Cleaned plugin plugin_download-commands_180914_0327_889711825189624710.jar
> [2018-09-14 03:42:08,857] INFO  com.google.gerrit.server.plugins.PluginLoader : Cleaned plugin plugin_deleteproject_180914_0327_4308247529777322176.jar
> [2018-09-14 03:42:08,857] INFO  com.google.gerrit.server.plugins.PluginLoader : Cleaned plugin plugin_commit-message-length-validator_180914_0327_5829060742106100080.jar
> [2018-09-14 03:42:08,857] INFO  com.google.gerrit.server.plugins.PluginLoader : Cleaned plugin plugin_cfoauth_180914_0327_2948907294345264575.jar
> [2018-09-14 03:42:08,858] INFO  com.google.gerrit.server.plugins.PluginLoader : Cleaned plugin plugin_cfbroker_180914_0327_8128480873001583195.jar
> [2018-09-14 03:42:08,858] INFO  com.google.gerrit.server.plugins.PluginLoader : Cleaned plugin plugin_singleusergroup_180914_0327_4185364491372302656.jar

Very interesting, if I remove the lines `-Dlog4j.debug -Dlog4j.configuration=file:///home/demo/etc/log4j.properties` I can see the log again, etc. this line:
[2018-09-14 05:14:45,549] INFO  org.eclipse.jetty.util.log : Logging initialized @19680ms to org.eclipse.jetty.util.log.Slf4jLog

TBH: no clue. I will amend my patch and will write to `stderr` instead later today.

No need, I have managed to setup my logger. I used this configuration:

> # Basic Log4j Configuration with STDOUT and File logging
> log4j.rootLogger=INFO, stdout, filer
> 
> log4j.appender.stdout=org.apache.log4j.ConsoleAppender
> log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
> log4j.appender.stdout.layout.ConversionPattern=%-4r [%t] %-5p %c %x - %m%n
> 
> log4j.appender.filer=org.apache.log4j.RollingFileAppender
> log4j.appender.filer.layout=org.apache.log4j.PatternLayout
> log4j.appender.filer.layout.ConversionPattern=%-4r [%t] %-5p %c %x - %m%n
> log4j.appender.filer.File=/home/demo/jetty.log
> log4j.appender.filer.DatePattern='.'yyyy-MM-dd
> log4j.appender.filer.MaxFileSize=10MB
> log4j.appender.filer.MaxBackupIndex=4
> log4j.appender.filer.append=true
> 
> # OAuth monitoring
> log4j.logger.com.google.gerrit.httpd.auth.oauth=DEBUG

And these are the log messages that I got:

> 32945 [HTTP-66] DEBUG com.google.gerrit.httpd.auth.oauth.OAuthSession  - Login OAuthSession [token=null, user=null]
> 32951 [HTTP-66] DEBUG com.google.gerrit.httpd.auth.oauth.OAuthSession  - Login-PHASE1 OAuthSession [token=null, user=null]

Could you track all requests on gerrit and cloud foundry sides? My current explanation is that cloud foundry somehow changing the state and send another one to gerrit.

I think that Could Foundry experts should look into that problem.

I was able to repeat same error in Cloud Foundry access log by specifying random scope as a parameter, maybe you can tell if Gerrit adds scope parameter? It is not possible for me to see concrete POST parameters, so I need to guess.

This is not Gerit, but `cfoath` plugin that I don't maintain:

I see this in the configuration:

Configuration
=============

## Registering a Client for Gerrit

Gerrit must be registered as client with the [CloudFoundry User Account and
Authentication (UAA) Server](https://github.com/cloudfoundry/uaa) that acts
as OAuth 2 authentication and authorization backend.

The following sequence assumes that the UAA client application (`uaac`) is
installed. It will create a client with name `gerrit`.

```
  uaac target <URL of the UAA server>

  uaac token client get admin

  uaac client add gerrit
    --authorities uaa.resource
    --authorized_grant_type authorization_code,refresh_token,password
    --scope openid
    --autoapprove openid
    --access_token_validity <time in seconds>
    --redirect_uri <URL of the Gerrit server>/oauth
    --secret <secret>
```

UAA access token is probably (I'm not familiar with this code) retrieved here:

```
  @Override
  public OAuthToken getAccessToken(OAuthVerifier rv) {
    if (rv == null || rv.getValue() == null) {
      throw new UAAClientException("Must provide an authorization code");
    }
    return getAsOAuthToken(uaaClient.getAccessToken(rv.getValue()));
  }
```

And UAAClient#getAccessToken() is here:

```
  /**
   * Retrieves an access token from the UAA server providing an
   * authorization code following the "Authorization Code Grant"
   * scheme of RFC6749 section 4.1.
   *
   * @param authorizationCode a previously obtained authorization code.
   * @return an access token.
   *
   * @throws UAAClientException if the UAA request failed.
   */
  public AccessToken getAccessToken(String authorizationCode)
      throws UAAClientException {
    OAuthRequest request = new OAuthRequest(POST, accessTokenEndpoint);
    request.addHeader(AUTHORIZATION_HEADER, clientCredentials);
    request.addBodyParameter(GRANT_TYPE, BY_AUTHORIZATION_CODE);
    request.addBodyParameter(CODE, authorizationCode);
    request.addBodyParameter(REDIRECT_URI, redirectUrl);
    Response response = request.send();
    if (response.getCode() != HTTP_OK) {
      throw new UAAClientException(MessageFormat.format(
          "POST /oauth/token failed with status {0}", response.getCode()));
    }
    String tokenResponse = response.getBody();
    if (Strings.isNullOrEmpty(tokenResponse)) {
      throw new UAAClientException(
          "POST /oauth/token failed: invalid access token response");
    }
    return parseAccessTokenResponse(tokenResponse);
  }
```

Thanks, I am looking at [this](https://docs.cloudfoundry.org/api/uaa/version/4.20.0/index.html#authorization-code-grant-2) and I noticed that there is also one parameter called code or the authorization code and when I made this request I also got the 400: 

curl -d 'grant_type=authorization_code&code=cvg5YK7998' -H "Authorization: Basic thiswasreplaced==" -X POST https://uaa-server.any.host:53755/uaa-security/oauth/token -k

> [15/Sep/2018:13:57:25 -0400] XX.XX.XXX.XXX - - to uaa-server.any.host:53755"POST /uaa-security/oauth/token HTTP/1.1" 400 sent 97 in 112 by 001-external-uaa-instance
with this body: `{"error":"invalid_grant","error_description":"Invalid authorization code: cvg5YK7998"}`

Could this be that Gerrit or cfoauth plugin uses a wrong authorization code? How this code is actually given or accessed?

Compare to UAA code, here is example from my plugin oauth, OAuth Service:

```java
 private static final String SCOPE = "user:email";
[...]
service =
        new ServiceBuilder()
            .provider(GitHub2Api.class)
            .apiKey(cfg.getString(InitOAuth.CLIENT_ID))
            .apiSecret(cfg.getString(InitOAuth.CLIENT_SECRET))
            .callback(canonicalWebUrl + "oauth")
            .scope(SCOPE)
            .build();
```

> Could this be that Gerrit or cfoauth plugin uses a wrong authorization code? How this code is actually given or accessed?

See the spec[1]: 

```
The Authorization Code grant type is used by confidential and public clients to exchange an authorization code for an access token.

After the user returns to the client via the redirect URL, the application will get the authorization code from the URL and use it to request an access token.
```

[1] https://oauth.net/2/grant-types/authorization-code/



Here is the core gerrit code that retrieve the code and call plugin to access the token:

```java
  boolean login(HttpServletRequest request, HttpServletResponse response,
      OAuthServiceProvider oauth) throws IOException {
    log.debug("Login " + this);

    if (isOAuthFinal(request)) {
      if (!checkState(request)) {
        response.sendError(HttpServletResponse.SC_NOT_FOUND);
        return false;
      }

      log.debug("Login-Retrieve-User " + this);
      token = oauth.getAccessToken(new OAuthVerifier(request.getParameter("code")));
[...]
```

I found the problem. The redirect_url was slightly incorrect (haven't thought really that was the case because it was missing only subdomain part) and thus somehow codes probably were different not sure though what was the real response message there. I recreated my services at CloudFoundry and everything seems fine now.

Thanks for your help indeed. Btw, maybe you know what plugin is needed to solve this warning? 426874 [PluginScanner] WARN  com.google.gerrit.server.plugins.PluginLoader  - No Plugin provider was found that handles this file format: index.html

Please file issue on gerrit issue tracker: [1].

* [1] https://bugs.chromium.org/p/gerrit/issues/entry

Thanks @mwebber for this suggestion. We should definitely add a question/answer to plugin's FAQ page for this topic.

I assume that the root cause for the original issue raised here is also plugin misconfiguration. I close it for now, but feel to re-open if you think there is a bug in this plugin's CAS provider.

Can any share me the gerrit.conf for keyclock and settings in claim of keycloak for gerrit

For anybody landing here on searching for issues on "Illegal request state".

Gerrit is very very picky on the url you end up landing. If the hostname changes in any way. IP to different cname or whatever, it will create a new `JSESSIONID` cookie. This causes a new state to be generated, which will not match the old state and lead to that error.

I don't know enough of the internals, but feels like the state lookup should not be linked to the `JSESSIONID`

In my case i started on "http://localhost.:8080" and had a callback to "http://localhost:8080/oauth". Notice the extra dot in the initial hostname. This was just for development testing. It seems gerrit appends a "." to non fqdn on the canonical url.